<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Nombre de la aplicación -->
    <property name="APP_NAME" value="pos"/>

    <!-- Formato común que incluye TraceId y SpanId -->
    <property name="LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{40} - %msg%n"/>
    <!-- Appender para consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender para archivo rotativo -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Niveles de log -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Logger específico para trazas detalladas -->
    <logger name="co.edu.iudigital.pos" level="INFO"/>
</configuration>